.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html, body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  color: #191919;
  text-align: left;
  height: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.site-container-1700 {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: auto;
  position: relative;
  max-width: 1700px;
  width: 100%;
}
@media (min-width: 992px) {
  .site-container-1700 {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
}

.site-container-1200 {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
}
@media (min-width: 992px) {
  .site-container-1200 {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
}

.site-container-992 {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  position: relative;
  max-width: 992px;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  font-family: "Montserrat", sans-serif !important;
}

ol li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  font-family: "Montserrat", sans-serif !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.primary-text {
  color: #FFB934;
}

.white-text {
  color: #ffffff;
}

.primary-link {
  color: #FFB934 !important;
  text-decoration: underline;
  transition: 0.5s !important;
  font-weight: 700;
}
.primary-link:hover, .primary-link:active {
  color: #FFB934 !important;
}

.primary-link-alt {
  color: #FFB934 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.primary-link-alt:hover, .primary-link-alt:active {
  color: #FFB934 !important;
}

.secondary-link {
  color: #FFB934 !important;
  text-decoration: underline;
  transition: 0.5s !important;
  font-weight: 700;
}
.secondary-link:hover, .secondary-link:active {
  color: #FFB934 !important;
}

.white-link {
  color: #ffffff !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.white-link:hover, .white-link:active {
  color: #FFB934 !important;
}

.black-link {
  color: #191919 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.black-link:hover, .black-link:active {
  color: #FFB934 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: unset;
}

h1,
.h1-heading {
  font-size: calc(1rem * 2.375) !important;
  font-weight: 700 !important;
  line-height: calc(24px * 1.666) !important;
  font-family: "Montserrat", sans-serif !important;
}

h2,
.h2-heading {
  font-size: calc(1rem * 2) !important;
  font-weight: 700 !important;
  line-height: calc(24px * 1.666) !important;
  font-family: "Montserrat", sans-serif !important;
}

h3,
.h3-heading {
  font-size: calc(1rem * 1.5) !important;
  font-weight: 600 !important;
  line-height: calc(24px * 1.25) !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
}

span.SubHead,
h4,
.h4-heading {
  font-size: calc(1rem * 1.25) !important;
  font-weight: 600 !important;
  line-height: calc(24px * 1.1666) !important;
  font-family: "Montserrat", sans-serif !important;
}

h5,
.h5-heading {
  font-size: 1rem !important;
  font-weight: 300 !important;
  line-height: 24px !important;
  font-family: "Montserrat", sans-serif !important;
}

h6,
.h6-heading {
  font-size: calc(1rem * 0.83) !important;
  font-weight: 300 !important;
  line-height: calc(24px * 2.333) !important;
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  font-family: "Montserrat", sans-serif !important;
}

.copywrite {
  font-size: calc(1rem - 2px);
}

@media (min-width: 992px) {
  h1,
.h1-heading {
    font-size: calc(1rem * 3.75) !important;
    font-weight: 700 !important;
    line-height: calc(24px * 2.75) !important;
    font-family: "Montserrat", sans-serif !important;
  }

  h2,
.h2-heading {
    font-size: calc(1rem * 2.25) !important;
    font-weight: 700 !important;
    line-height: calc(24px * 1.666) !important;
    font-family: "Montserrat", sans-serif !important;
  }

  h3,
.h3-heading {
    font-size: calc(1rem * 1.75) !important;
    font-weight: 600 !important;
    line-height: calc(24px * 1.416) !important;
    font-family: "Montserrat", sans-serif !important;
  }

  h5,
.h5-heading {
    font-size: calc(1rem * 1.25) !important;
    font-weight: 300 !important;
    line-height: 24px !important;
    font-family: "Montserrat", sans-serif !important;
  }
}
.btn-primary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #191919 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #191919 !important;
  color: #FFB934 !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 25px;
}
.btn-primary:hover, .btn-primary:active {
  color: #ffffff !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #FFB934 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #FFB934 !important;
  color: #191919 !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 25px;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: #191919 !important;
  border: 2px solid #191919 !important;
  color: #FFB934 !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}

.z-15 {
  z-index: 15;
  position: relative;
}

.t-c-l {
  text-align: center !important;
}
@media (min-width: 992px) {
  .t-c-l {
    text-align: left !important;
  }
}

@media (min-width: 992px) {
  .pr-lg-0 {
    padding-right: 0 !important;
  }
}

.main-navigation {
  z-index: 151;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: 0.6s;
  background-color: #ffffff;
  flex-direction: column;
  border-bottom: 2px solid #C1C1C1;
}
.main-navigation img {
  width: 250px;
}

.main-navigation-tools {
  background-color: #FFB934;
  z-index: 156;
  position: relative;
}
.main-navigation-tools img {
  width: 250px;
}

.main-nav-top-row {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4F4F4;
  transition: 0.5s !important;
}

.main-social-nav img {
  transition: width 1s;
}

.main-navigation-scroll .main-nav-top-row {
  height: 50px;
}
.main-navigation-scroll .main-social-nav img {
  width: 100px;
}

.header-logo-svg-condensed {
  width: 100px !important;
}
.header-logo-svg-condensed .cls-1 {
  fill: #FFB934 !important;
  opacity: 1 !important;
}
.header-logo-svg-condensed .cls-2 {
  fill: #FFB934 !important;
}

.main-nav-bottom-row {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C1C1C1;
}

.nav-link {
  display: block;
  padding: 0 1rem;
  border: none;
  background: none;
  font-weight: 300 !important;
}

.nav-menu-item {
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  transition: 0.5s !important;
}
.nav-menu-item a {
  color: #191919;
  transition: 0.5s !important;
  font-weight: 600;
}
.nav-menu-item a:hover, .nav-menu-item a:active {
  color: #FFB934;
}

.mobile-nav {
  position: fixed;
  height: 100vh;
  top: -100vh;
  right: 0;
  width: 100vw;
  overflow: auto;
  margin: 0;
  transition: 0.5s;
  background-color: #FFB934;
  z-index: 150;
}

.mobile-nav-active .mobile-nav {
  right: 0;
  transition: 0.5s;
  top: 0;
}

.nav-btn-close,
.nav-btn-open {
  font-size: 2rem;
  color: #FFB934;
}

.mobile-nav-row {
  height: 75px;
  background-color: #ffffff;
}

.mobile-nav-menu-item {
  border-top: 1px solid #FFB934;
}

.mobile-nav-menu-item:last-child {
  border-bottom: 1px solid #FFB934;
}

.mobile-menu-news-link .mobile-nav-triangle {
  color: #ffffff;
}
.mobile-menu-news-link:active, .mobile-menu-news-link:hover {
  background-color: #ffffff !important;
  color: #FFB934 !important;
}
.mobile-menu-news-link:active .mobile-nav-triangle, .mobile-menu-news-link:hover .mobile-nav-triangle {
  color: #FFB934 !important;
}

.submenu-link {
  color: #ffffff !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  padding: 0 16px;
}

.footer-section {
  background-color: #191919;
  padding: 30px 0px 20px 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 992px) {
  .footer-section {
    padding-bottom: 90px;
  }
}
.footer-section .footer-logo {
  width: 250px;
}

footer {
  border-top: 1px solid #FFB934;
  background-color: #191919;
  z-index: 15;
}
@media (min-width: 992px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
footer .footer-nav-menu-item {
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  transition: 0.5s !important;
}
footer .footer-nav-menu-item a {
  color: #ffffff;
  transition: 0.5s !important;
  font-weight: 600;
}
footer .footer-nav-menu-item a:hover, footer .footer-nav-menu-item a:active {
  color: #FFB934;
}

.scroll-to-top {
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: #FFB934;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-to-top a {
  border: none;
  font-size: 1.5rem;
  color: #191919;
}
.scroll-to-top a:hover, .scroll-to-top a:active {
  color: #191919;
}

.index-form {
  background-color: #191919;
  position: relative;
  padding: 2rem 0;
  transition: 1s;
  top: 0;
}
.index-form .form-group {
  padding: 0 15px;
}
.index-form .form-group .form-control {
  background-color: unset !important;
  border-radius: unset !important;
  color: #ffffff !important;
}
.index-form .close-index-form-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #ffffff;
  font-size: calc(1rem * 1.25);
}
.index-form .close-index-form-btn:active, .index-form .close-index-form-btn:hover {
  color: #FFB934 !important;
}

#index-jumbtron-section {
  background-color: #FFB934;
  margin-top: 72px !important;
}
#index-jumbtron-section .index-jumbtron-top-row {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  #index-jumbtron-section .index-jumbtron-top-row {
    height: 475px;
    padding: unset;
  }
}
#index-jumbtron-section .index-jumbtron-top-row img {
  width: 100%;
}
#index-jumbtron-section .index-jumbtron-button-row {
  background: rgba(25, 25, 25, 0.1);
  padding: 25px 0;
}
#index-jumbtron-section .index-jumbtron-button-row a,
#index-jumbtron-section .index-jumbtron-button-row button {
  background: no-repeat;
  border: none;
  text-decoration: none;
}
#index-jumbtron-section .index-jumbtron-button-row a svg,
#index-jumbtron-section .index-jumbtron-button-row button svg {
  width: 50px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #index-jumbtron-section .index-jumbtron-button-row a svg,
#index-jumbtron-section .index-jumbtron-button-row button svg {
    width: 75px;
  }
}
#index-jumbtron-section .index-jumbtron-button-row .button-row-border {
  border-right: 1px solid #191919;
  text-align: center;
}
@media (min-width: 992px) {
  #index-jumbtron-section .index-jumbtron-button-row .button-row-border {
    border-right: unset;
  }
}
#index-jumbtron-section .index-jumbtron-button-row .button-row-border:last-child {
  border-right: unset;
}
#index-jumbtron-section .index-jumbtron-button-row .tools-selections-btn {
  color: #808080;
}
#index-jumbtron-section .index-jumbtron-button-row .tools-selections-btn .st0 {
  fill: #808080;
}
#index-jumbtron-section .index-jumbtron-button-row .tools-selections-btn-active {
  color: #191919;
}
#index-jumbtron-section .index-jumbtron-button-row .tools-selections-btn-active .st0 {
  fill: #191919;
}

#index-products-section {
  padding-bottom: 25px;
}
@media (min-width: 992px) {
  #index-products-section {
    padding: 50px 0;
  }
}
#index-products-section .mobile-product-title-content {
  background: #191919;
  color: #FFB934;
  padding: 10px;
  margin-bottom: 1rem;
}
#index-products-section .tool-card {
  background-image: url("/assets/images/highlight-box-bkgd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#index-contractor-directory-section {
  padding: 25px 0;
}
@media (min-width: 992px) {
  #index-contractor-directory-section {
    padding: 50px 0;
  }
}
#index-contractor-directory-section .tns-outer button {
  display: none;
}

.contractor-card {
  margin-right: 2rem;
  border: 1px solid #191919;
}
.contractor-card .card-header {
  background-color: #FFB934;
  display: flex;
  align-items: center;
}
.contractor-card .card-header .card-header-img {
  width: 30px;
}
.contractor-card .card-body {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contractor-card:last-child {
  margin-right: unset;
}

#index-blog-roll-section {
  background-color: #f2f8f8;
  padding: 25px 0;
}
@media (min-width: 992px) {
  #index-blog-roll-section {
    padding: 50px 0;
  }
}
#index-blog-roll-section .index-blog-card {
  height: 315px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  position: relative;
}

.screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.3);
}

#tools-jumbtron-section {
  background-color: #FFB934;
  margin-top: 72px !important;
}
#tools-jumbtron-section .index-jumbtron-top-row {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  #tools-jumbtron-section .index-jumbtron-top-row {
    height: 175px;
  }
}
#tools-jumbtron-section .index-jumbtron-button-row {
  background: rgba(25, 25, 25, 0.1);
  padding: 25px 0;
}
#tools-jumbtron-section .index-jumbtron-button-row button {
  background: no-repeat;
  border: none;
}
#tools-jumbtron-section .index-jumbtron-button-row button svg {
  width: 50px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #tools-jumbtron-section .index-jumbtron-button-row button svg {
    width: 75px;
  }
}
#tools-jumbtron-section .index-jumbtron-button-row .button-row-border {
  border-right: 1px solid #191919;
  text-align: center;
}
@media (min-width: 992px) {
  #tools-jumbtron-section .index-jumbtron-button-row .button-row-border {
    border-right: unset;
  }
}
#tools-jumbtron-section .index-jumbtron-button-row .button-row-border:last-child {
  border-right: unset;
}
#tools-jumbtron-section .index-jumbtron-button-row .tools-selections-btn {
  color: #808080;
  text-decoration: none;
}
#tools-jumbtron-section .index-jumbtron-button-row .tools-selections-btn svg {
  width: 50px;
}
@media (min-width: 992px) {
  #tools-jumbtron-section .index-jumbtron-button-row .tools-selections-btn svg {
    width: 75px;
  }
}
#tools-jumbtron-section .index-jumbtron-button-row .tools-selections-btn .st0 {
  fill: #808080;
}
#tools-jumbtron-section .index-jumbtron-button-row .tools-selections-btn-active {
  color: #191919;
}
#tools-jumbtron-section .index-jumbtron-button-row .tools-selections-btn-active .st0 {
  fill: #191919;
}

#tools-inner-jumbtron-section {
  background-color: #FFB934;
}
@media (min-width: 992px) {
  #tools-inner-jumbtron-section {
    height: 100vh;
    padding-top: 72px !important;
  }
}

#tools-inner-content-section {
  background-color: #FFB934;
  padding: 25px 0;
}
@media (min-width: 992px) {
  #tools-inner-content-section {
    padding: 50px 0;
  }
}

.tools-inner-header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

@media (min-width: 992px) {
  .tools-bg {
    height: 100vh;
  }
}

.scroll-to-top-btn {
  color: #191919;
  text-decoration: none;
}
.scroll-to-top-btn:active, .scroll-to-top-btn:hover {
  color: #ffffff;
}

footer.tools-footer {
  position: unset;
  background-color: #FFB934;
}

.tools-form-input {
  border: 1px solid #191919;
  border-radius: 6px;
  background: transparent;
  width: 100%;
  height: 35px;
  padding: 0 1rem;
}

.article .article_image {
  position: relative;
}
.article .article_image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
.article .article_image .blog-post-category {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFB934;
  padding: 0.5rem;
  text-align: center;
}
.article .article_image .blog-post-category a {
  color: #191919;
  text-decoration: none;
  text-transform: capitalize;
}
.article .article_image .blog-post-category-tag:nth-child(n)::after {
  content: "\a";
  white-space: pre;
}
.article .article_image .blog-post-category-tag:nth-child(n):last-child::after {
  content: "";
}
.article .article_content {
  background-color: #F4F4F4;
  padding: 1rem;
  display: flex;
  height: 190px;
  align-items: center;
}

.single-blog-post-section {
  margin-top: 74px;
}

.related-post-article-content {
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.blog-page-content a {
  color: #FFB934;
  font-weight: 600;
  text-decoration: none;
}
.blog-page-content a:active, .blog-page-content a:hover {
  color: #191919;
}

.standard-body-links a {
  color: #FFB934;
  font-weight: 700;
}
.standard-body-links a:active, .standard-body-links a:hover {
  color: #191919;
}

/*# sourceMappingURL=site.css.map */
