{{ define "main-footer" }}
  <section class="footer-section">
    <div class="site-container-1200">

      <div class="row">
        <div class="col-12 col-lg-4 t-c-l">
            <img src="/assets/images/ContractorHub-logo-knockout.svg" alt="company logo" class="footer-logo">
            <div class="py-3">
              <a href="/contact" class="white-link">
                <i class="fas fa-envelope"></i>
                Contact us
              </a>
            </div>
        </div>


        <div class="col-12 col-lg-8 text-center">
          <p class="white-text h5-heading">"With future generations in mind, we will create opportunity for our family, our friends, and our community. And as they succeed, we succeed."</p>
          <p class="white-text">John Smith</p>
        </div>

      </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid pr-lg-0">
      <div class="row justify-content-between align-items-center align-self-stretch  align-items-center">
        <div class="col-12 col-lg-4 py-4 py-lg-0">
          <p class="copywrite mb-0 t-c-l">
            <span class="white-text ">&copy;</span>
            <span class="white-text">2022 Contractor Hub</span>
            <span class="white-text px-2 d-none d-lg-inline-block">|</span>
            <br class="d-lg-none">
            <a href="/accessibility" class="white-link">Accessibility</a>
            <span class="white-text px-2 d-none d-lg-inline-block">|</span>
            <br class="d-lg-none">
            <a href="/privacy-statement" class="white-link">Privacy</a>
            <span class="white-text px-2 d-none d-lg-inline-block">|</span>
            <br class="d-lg-none">
            <a href="/terms-of-use" class="white-link">Terms</a>

          </p>
        </div>

        <div class="col-12 col-lg-4 text-center">

          <p class="h5-heading white-text mb-0">Connect with Contractor Hub</p>
          <ul class="ul-reset d-flex justify-content-center">
            <li class="footer-nav-menu-item">
              <a href="https://www.facebook.com/thecontractorhub/" target="_blank">
                <i class="fab fa-facebook-square"></i>
                <span class="sr-only">facebook social link</span>
              </a>
            </li>
            <li class="footer-nav-menu-item">
              <a href="https://www.instagram.com/thecontractorhub/" target="_blank">
                <i class="fab fa-instagram"></i>
                <span class="sr-only">instagram social link</span>
              </a>
            </li>
            <li class="footer-nav-menu-item">
              <a href="https://www.linkedin.com/company/contractor-hub/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">linkedin social link</span>
              </a>
            </li>
            <li class="footer-nav-menu-item">
              <a href="https://twitter.com/ContractorHB" target="_blank">
                <i class="fab fa-twitter"></i>
                <span class="sr-only">twitter social link</span>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-12 col-lg-4 pt-4 pt-lg-0">
            <a href="/subscribe" class="btn-secondary w-100">Don't miss the latest.<br>
              Sign up for updates.</a>
        </div>
      </div>
    </div>


    <div class="scroll-to-top">
      <a name="button" class="scroll-to-top-btn" onClick="window.scrollTo(0, 0);">
        <i class="fas fa-arrow-alt-circle-up"></i>
        <span class="sr-only">Scroll to top of page</span>
      </a>
    </div>
  </footer>

{{ end }}


{{ define "tools-footer" }}
  <footer class="tools-footer">
    <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col-auto">
            <p>&copy; 2022 Contractor Hub</p>
          </div>

          <div class="col-auto">
            <a name="button" class="scroll-to-top-btn" onClick="window.scrollTo(0, 0);">
              Back to top
              <i class="fal fa-chevron-up"></i>
              <span class="sr-only">Scroll to top of page</span>
            </a>
          </div>

        </div>
    </div>
  </footer>
{{ end }}
